*{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Lato', sans-serif;
    font-family: 'Open Sans', sans-serif;
}
header{
    background-color: rgba(229, 84, 115, 0.10);
    ;
    
}
.btn-primary{
    border-radius: 8px;
    background: #E55473;
    padding: 20px 43px;
    color: #FFF;
    font-size: 20px;
    font-weight: 700;
    border: none;
}
        /* nav bar section */
 .navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
 }
 .logo{
    color: #E55473;
    font-size: 60px;
    font-weight: 800; 
    padding-left: 100px;

 }
 .logo > span{
    color: #0ffc22;
 }       
.navbar > ul{
    display: flex;
    padding-right: 200px;
    font-size: 18px;
    font-weight: 400;

}
.navbar > uL >li{
    list-style: none;
    margin: 10px 20px;
}
.navbar > uL >li >a{
    text-decoration: none;
    color: #272727;
}

        /* Banner section style */
.banner{
    justify-content: space-between;
    display: flex;
}
.banner-content{
    margin: 100px 0 0  100px;
}
.banner-title{
    color: #272727;
    font-size: 60px;
    font-weight: 800;
    margin-bottom: 30px;
}
.banner-description{
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 30px;
}
.banner-image{
    width: 500px;
    
}
        /* Shop now section */
.shop-now{
    text-align: center;
    color: #272727;
    font-size: 40px;
    font-weight: 800;
    margin: 50px 0 50px;
}
.buy-product{
    margin: 5% 7%;
}
.product-list{
    display: flex;
    text-align: center;
    gap: 30px;
    margin-bottom: 50px;
} 
.product-item{
    width: 250px;
    height: 350px;
    padding: 30px;
    border: 2px solid rgba(167, 33, 98, 0.15);
    border-radius: 5px;
}
.product-image{
    height: 200px;
    width: 200px;
    border: 2px solid rgba(5, 151, 160, 0.15);
    border-radius: 5px;
}
.price{
    color: #272727;
    font-size: 35px;
    font-weight: 800;
    margin-bottom: 5px;
}
.product-name{
    color: #272727;
    font-size: 20px;
    font-weight: 400;
    margin-bottom: 10px;
}       
        /* Featured text style */
.featured-content{
    margin: 100px  350px 30px;
}
.featured-text{
    text-align: center;
}
.featured-headline{
    color: #272727;
    font-size: 40px;
    font-weight: 800;
    margin-bottom: 5px;
    max-width: 594;
}
.featured-descpription{
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    font-weight: 400;
    max-width: 594;
}

        /* Featured images section */
.image-container{
    display: flex;
    align-items: center;
    gap: 30px;
    margin: 0 7%;
}
.featured-images{
    text-align: center;
    

}
.show-image{
    width: 250px;
    height: 350px;
    border-radius: 300px 300px 0px 0px;
    padding: 30px 50px 0;
}
.one{
    background: rgba(167, 33, 98, 0.15);
}
.two{
    background: rgba(5, 151, 160, 0.15);
}
.three{
    background: rgba(71, 125, 17, 0.15);
}

        /* Our service section */

.our-services{
    display: flex;
    text-align: center;
    margin: 7% 7% 0; 
    justify-content: space-around;
    background-color: rgba(229, 84, 115, 0.10);
    ;
}
.service-content{
    padding: 50px 100px;
}
.service-image{
    width: 88px;
    height: 88px;
}
 .service-desc{
    color: rgba(39, 39, 39, 0.80);
    text-align: center;
    font-size: 24px;
    font-weight: 600;
 }
        /* Hot deal section */

.hot-deal-section{
    display: flex;
    justify-content: space-around;
    height: 620px;
    background: rgba(229, 84, 115, 0.05);
    margin: 100px 0;
}
.hot-deal-text{
    text-align: center;
    width: 594px;
    padding: 200px 0;

}
.hot-deal-headline{
    color: #272727;
    font-size: 40px;
    font-weight: 800;
    margin-bottom: 30px;
}
.hot-deal-desc{
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 30px;
}
 .hot-deal-image{
    width: 318px;
    height: 420px;
    padding: 100px 0;
 }

        /* View image section */
.view-images{
    display: flex;
    gap: 20px;
    justify-content: space-around;
    margin:  0 7%;
    align-items: center;
}
.rectangle-images{
    width: 280px;
    height: 350px;
}
              /* contact form section */
.email-field{
    background-image: url('/images/Rectangle9.png');
    background-repeat: no-repeat;
    background-size: 100%;
    margin: 7%;
    text-align: center;
    padding: 100px 100px;

}
.input-section{
    padding: 10px 20px;
}
.form-headline{
    color: #272727;
    font-size: 40px;
    font-weight: 800;
    margin-bottom: 20px;
}
.form-desc{
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 20px;
}
input{
    width: 500px;
    height: 55px;
    border: none;
}
input::placeholder{
    color: rgba(39, 39, 39, 0.60);
    font-size: 16px;
    font-weight: 400;
    padding: 10px;
}

        /* Footer section */
footer{
    background-color: black;
    height: 350px;
    text-align: center;
}
.footer-section{
    padding: 100px;

}
.footer-headline{
    color: #E55473;
    font-size: 48px;
    font-weight: 800;
    margin-bottom: 10px;
}
.footer-headline > span{
    color: #FFFFFF;
}
.footer-description{
    color: rgba(255, 255, 255, 0.90);
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 20px;

}
.copyright-section{
    color: rgba(255, 255, 255, 0.40);
    font-size: 16px;
    font-weight: 400;
}